<script id="answer-template" type="text/x-handlebars-template">
  <div class="row row-answer" data-answer-id={{answer.id}}>

    <div class="col-1">
      {{#if is_question_author}}
        <button class="btn btn-secondary best-answer-link" data-answer-id="{{answer.id}}" method="post" action="/questions/{{question_id}}/answers/{{answer.id}}/best" data-remote="true">{{answer.best}}</button>
      {{/if}}
    </div>

    {{#if gon.user_signed_in}}
      <div class="col-1 alert alert-secondary">
        <p>
          <a class="vote-change-link" data-votable-type="answer" data-votable-id="{{answer.id}}" data-type="json" data-remote="true" rel="nofollow" data-method="patch" href="/answers/{{answer.id}}/vote?option=positive">plus</a>
        </p>
        <p>
          <div class="vote-mark-answer" id="{{answer.id}}">{{answer.rating}}</div>
        </p>
        <p>
          <a class="vote-change-link" data-votable-type="answer" data-votable-id="{{answer.id}}" data-type="json" data-remote="true" rel="nofollow" data-method="patch" href="/answers/{{answer.id}}/vote?option=negative">minus</a>
        </p>
      </div>
    {{/if}}

    <div class="col-4 alert alert-secondary">
      <span class="answer" data-answer-id={{answer.id}}>{{answer.body}}</span>
      <div class="links">
        <p> Links:
          <ul>
            {{#each links}}
              <li> <a href="{{this.url}}">{{this.name}}</a> </li>
            {{/each}}
          </ul>
        </p>
      </div>
    </div>

  </div>
</script>
